[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
black = "*"
mypy = "*"
pyflakes = "*"
pytest = "*"
pytest-datadir = "*"
pytest-cov = "*"
pytest-html = "*"
pytest-mock = "*"
pytest-asyncio = "*"
pytest-faker = "*"
pytest-print = "*"
bandit = "*"
pytype = "*"
pyre-check = "*"

[packages]
fastapi = "*"
orjson = "*"
ujson = "*"
requests = "*"
uvicorn = {extras = ["standard"], version = "*"}
loguru = "*"
tinydb = "*"
aiohttp = "*"
gunicorn = "*"

[requires]
python_version = "3.8"

[pipenv]
allow_prereleases = true

[scripts]
test="env PYTHONPATH=.:$PYTHONPATH pytest --cov=fastapi_todos tests/ --print "
